*.pyc
*.pyo
*.mo
.coverage
.vscode

db.sqlite3

log/**
!log/placeholder

media/**
!media/**/init.txt

/static
/static/**
!/static/**/init.txt

**/migrations/**
!**/migrations
!**/migrations/__init__.py