@use "sass:math";
@import "skeleton";

#content {
    #topsection {
        background-image: url(/static/img/about/toprainbow.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        display: grid;

        #toppeople {
            padding-top: 10rem;
            max-height: 100%;
            max-width: 100%;
            place-self: end center;
        }
    }

    #aboutcard {
        max-width: 60%;
        margin-left: 20%;
        margin-top: 5rem;
        background: white;
        padding: 1rem;
        box-shadow: 4px 5px 11px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 4px 5px 11px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 4px 5px 11px 0px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;

        border-top: 5px solid #5a79bc;

        @media screen and (max-width: 790px) {
            max-width: unset;
            margin-left: $small_padding;
            margin-right: $small_padding;
        }
    }

    #peoplesection {
        $gap: 6rem;
        display: flex;
        flex-direction: column;

        .person:nth-child(even) {
            background: $primaryred;
        }

        .person:nth-child(odd) {
            background: $bluishpurple;
        }

        .person:last-child {
            margin-bottom: $gap;
        }

        .person {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .person.right {
            grid-template-areas: "i p";

            .info {
                text-align: right;
                align-items: flex-end;
                border-right: 5px solid snow;
                padding-right: 2rem;
            }
        }

        .person.left {
            grid-template-areas: "p i";

            .info {
                text-align: left;
                align-items: flex-start;
                border-left: 5px solid snow;
                padding-left: 2rem;
            }
        }

        .person {
            color: white;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin-top: $gap;

            .info {
                grid-area: i;
                place-self: center end;
                display: flex;
                flex-direction: column;
                padding-top: 2rem;
                padding-bottom: 2rem;

                h1 {
                    margin-bottom: 0.1rem;
                    margin-top: 0;
                    padding-top: 0;
                    font-size: 3rem;
                }

                h2 {
                    font-weight: normal;
                    margin-top: 0.1rem;
                    font-size: 1rem;
                }

                .memberinfo {
                    max-width: 60%;
                    // margin-top: 0;

                    .hidden {
                        display: none;
                    }
                }

                a {
                    background: snow;
                    text-decoration: none;
                    color: $bluishpurple;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    cursor: pointer;
                }
            }

            img {
                $imgheight: 30rem;
                place-self: center center;
                grid-area: p;
                height: $imgheight;
                border-radius: math.div($imgheight, 2);

                -webkit-box-shadow: 9px 3px 32px -2px rgba(0, 0, 0, 0.33);
                -moz-box-shadow: 9px 3px 32px -2px rgba(0, 0, 0, 0.33);
                box-shadow: 9px 3px 32px -2px rgba(0, 0, 0, 0.33);
            }
        }

        @media screen and (max-width: 1250px) {
            .person {
                .info {
                    h1 {
                        // margin-left: $padding;
                    }

                    .memberinfo {
                        max-width: 90% !important;
                        // background: red;
                    }
                }

                img {
                    height: 20rem;
                }
            }
        }

        @media screen and (max-width: 700px) {
            .person {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                margin-bottom: 0 !important;

                .info {
                    order: 2;
                    border: none !important;
                    align-items: center !important;

                    padding-right: 0 !important;
                    padding-left: 0 !important;

                    h1 {
                        margin: 0;
                        font-size: 2.2rem;
                        text-align: center;
                    }

                    .memberinfo {
                        max-width: 90% !important;
                        text-align: center !important;
                    }
                }

                img {
                    height: 20rem;
                    order: 1;
                }
            }

            .person:first-child {
                margin-top: 6rem;
            }
        }
    }
}

// @media screen and (min-width: 50em){
//     #content{
//         max-width: 45em;
//     }
// }
