@import 'skeleton';

$thepink: #F8B7BB;

#content{
    
    #topsection{
        background: url(/static/img/reviews/topgraphic.svg);
        min-height: 50rem;
        @media screen and (max-width: 500px) {
            min-height: 30rem;
        }
        background-size: cover;
        background-position: center;
        width: 100%;
        // height: 50rem;

        display: grid;

        #topgraphic{
            max-height: 100%;
            min-height: 100%;
            max-width: 100%;
            place-self: start center;
        }

    }



    #reviews-section{

        padding: $padding;
        background-image: url(/static/img/reviews/reviews_bg.png);
        background-size: 100% auto;
        background-position: center;
        background-repeat: repeat-y;
        padding-top: $padding * 3;

        #topstuff{

            // display: flex;
            // align-items: flex-start;
            // margin-top: 2rem;
            padding-left: 20rem;

            * {
                margin: 0;
            }

            h2{
                color: #2CA9E2;
            }

            img{
                margin-left: auto;
            }
        }


        #review-list{
            display: grid;
            grid-template-columns: auto auto;

            * {
                margin: 2rem;
            }

            .doodle.left{
                place-self: end end;
            }

            .doodle.right{
                place-self: end start;
            }

            .review{

                background: url(/static/img/reviews/chatboxes/chatboxwhite.svg);
                background-size: contain;
                background-position: left;
                background-repeat: no-repeat;
                min-height: 25rem;
                display: grid;

                p{
                    place-self: center start;
                    // padding-inline: 3rem;
                    // padding-bottom: 5rem;
                    // padding-top: 1rem;
                    padding-bottom: 2rem;
                    max-width: 50%;
                    opacity: 80%;
                }

            }

            .review.left{
                display: grid;
                background-position: right;

                p{
                    place-self: center end;
                    text-align: right;
                }
            }

        }






        @media screen and (max-width: 1400px) {
            
            #review-list{

                .review{
                    p{
                        max-width: 70%;
                    }
                }

            }

        }


        
        @media screen and (max-width: 1200px) {
            
            #review-list{
                

                .review{
                    p{
                        max-width: 90%;
                        font-size: 1rem;
                    }
                }

            }

        }


        @media screen and (max-width: 900px) {

            padding: $small_padding;

            #topstuff{
                padding-left: unset;
            }
            
            #review-list{
                
                display: flex;
                flex-direction: column;
                margin-top: 3rem;

                * {
                    margin: 0;
                }

                .doodle {
                    display: none;
                }

                .review{

                    background-position: left !important;
                    margin-bottom: 2rem;
                    width: 100%;
                    // min-height: 20rem;
                    

                    p{
                        place-self: center start !important;
                        max-width: 400px;
                        font-size: 1rem;
                        text-align: left !important;
                        padding-left: $small_padding * 2;
                        font-size: 1.2rem;
                    }
                }

            }

        }


        @media screen and (max-width: 500px) {

            
            
            #review-list{
                
                

                .review{

                    margin-bottom: 2rem;
                    // min-height: 18rem;

                    p{
                        font-size: 1rem;
                        padding-right: $small_padding * 2;
                    }

                    p.largereview{
                        font-size: 0.8rem;
                    }
                }

            }

        }



        @media screen and (max-width: 400px) {
            #review-list{
                .review{                    
                    min-height: 18rem;
                }
            }
        }


    }


    

        

}