@import 'skeleton';


#content{

    #promptoverlay{
        display: none;

        transition: all 0.2s;
    }

    #promptoverlay:target{
        
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background: rgba(0, 0, 0, 0.747);
        
        width: 100vw;
        height: 100vh;
        z-index: 5;

        display: grid;

        #dialoguebox{
            place-self: center center;

            padding: 2rem;
            background: snow;
            border-radius: 12px;

            p:nth-child(2){
                margin-top: 3rem;
            }

            a {
                background: #457545;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-radius: 12px;
                border: none;
                color: snow;
                font-size: 1.2rem;
                text-decoration: none;
            }
        }
        
    }
    
    #topsection{
        background: #C5C0DE;
        width: 100%;
        display: grid;

        #topgraphic{
            object-fit: cover;
            place-self: start center;
            max-height: 100vh;
        }

    }

    #service-section{

        $desktopwidemargin: 18%;
        $desktopmargin: 15%;
        $desktopnarrowmargin: 8%;
        $mobilemargin: 1rem;

        margin-left: $desktopwidemargin;
        margin-right: $desktopwidemargin;

        @media screen and (max-width: 1850px) {
            margin-left: $desktopmargin;
            margin-right: $desktopmargin;
        }

        @media screen and (max-width: 1200px) {
            margin-left: $desktopnarrowmargin;
            margin-right: $desktopnarrowmargin;
        }

        @media screen and (max-width: 675px) {
            margin-left: $mobilemargin;
            margin-right: $mobilemargin;
        }

        h1, h2, h3, h4, h5{
            color: #6F577F;
        }

        .service{

            margin-bottom: 7rem;

            p {
                font-size: 1.1rem;
            }


            $desktopwidth: 20%;
            $mobilewidth: 35%;
            
            img{
                width: $desktopwidth !important;
                height: unset !important;

                @media screen and (max-width: 675px) {
                    width: $mobilewidth !important;
                }

            }
            
        }

    }

        

}

