@import 'colors';
@import 'fonts';

$header_height: 160px;
$small_header_height: 100px;

$padding: 3rem;
$small_padding: 1rem;

// * {
//     transition: all 0.2s;
// }

body{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    // font-family: AttenNew, Arial, Helvetica, sans-serif;
    // font-family: 'Poppins', sans-serif;
    font-family: 'OpenDyslexic', sans-serif;

    .mytooltip{
        text-decoration: underline;
        text-decoration-style: dotted;
        cursor: help;
    }

    #wrapper{



        #topheader{



            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: $header_height/2 $header_height/2;
            grid-template-areas: 
                "t"
                "b"
            ;

            // GENERIC STYLES
            a{
                text-decoration: none;
                color: $primaryred;
                font-weight: bold;
            }


            // TOP ROW
            #sitelogo{
                grid-area: t;
                place-self: start start;
                margin-left: $padding;
                z-index: 5;
                -webkit-box-shadow: 6px 7px 5px -5px rgba(0,0,0,0.27);
                -moz-box-shadow: 6px 7px 5px -5px rgba(0,0,0,0.27);
                box-shadow: 6px 7px 5px -5px rgba(0,0,0,0.27);
            }

            #contactrow{

                margin-right: $padding;
                grid-area: t;
                display: flex;
                align-items: center;
                justify-items: center;
                place-self: center end;

                $itemsizing: ($header_height/2) - 50px;

                * {
                    margin-left: 5px;
                }                

                a{
                    max-height: 100%;
                    display: grid;
                    img{
                        place-self: center center;
                        max-height: 100%;
                        width: $itemsizing;
                    }

                    .phoneicon{
                        display: none;
                    }
                }



                #searchbox{
                    input{
                        border: 2px solid $primaryred;
                        height: $itemsizing;
                        padding-left: 10px;                        
                    }                    
                }

            }


            

            // BOTTOM ROW
            #menuitems{
                grid-area: b;
                z-index: 3;
                place-self: center end;
                margin-right: $padding;

                #hamburger{
                    display: none;
                }

                #closemenu{
                    display: none;
                }

                a{
                    padding-left: $padding/2;
                    padding-right: $padding/2;
                    border-left: 2px solid $primaryred;
                }

                #servicedropdown{
                    position: relative;
                    display: inline-block;

                    #servicebutton{
                        border-left: 2px solid $primaryred;
                    }

                    #dropdowncontent{
                        display: none;
                        position: absolute;
                        background: #F6DE96;
                        min-width: 250px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        padding: 1rem;

                        a {
                            border-left: none;
                            padding-left: 0.5rem;
                            // border-bottom: 2px solid $primaryred;
                            padding-top: 0.25rem;
                            padding-bottom: 0.25rem;
                            margin-top: 0.5rem;
                            display: inline-block;
                        }

                        a:hover{
                            background: rgba(255, 255, 255, 0.294);
                        }

                        transition: display 0.5s;
                    }
                }

                #servicedropdown:hover #dropdowncontent{
                    display: block;
                    transition: display 0.5s;
                }

                :first-child{
                    border-left: none;
                }

                :last-child{
                    padding-right: 0;
                }

            }

            #rainbowdiv{
                grid-area: b;
                width: 100%;
                height: 100%;
                z-index: 2;

                background-image: url(/static/img/skeleton/rainbow_rect_header.png);
                background-repeat: no-repeat;
                background-size: contain;

            }

            #colordiv{
                grid-area: b;
                width: 100%;
                height: 100%;
                background: $bg_skincolor;
                z-index: 1;
            }


            @media screen and (max-width: 1000px) {
                #sitelogo{
                    margin-left: 0;
                    height: $header_height; 
                }
            }


            @media screen and (max-width: 1300px) {
                grid-template-rows: $small_header_height/2 $small_header_height/2;

                // #sitelogo{
                //     margin-left: 0;
                //     height: $small_header_height; 
                // }

                #contactrow{
                    margin-right: $small_padding;
                    font-size: 1.2rem;

                    .site-logo{
                        font-size: 2rem;
                    }

                    a {
                        .textnumber{
                            display: none;
                        }
                        .phoneicon{
                            display: block;
                        }
                    }
                }

                #menuitems{
                    margin-right: $small_padding;
                    font-size: 1rem;

                    a {
                        padding-left: $small_padding/2;
                        padding-right: $small_padding/2;
                    }
                }
            }


            @media screen and (max-width: 790px) {

                #sitelogo{
                    height: $header_height; 
                }
                
                #menuitems{

                    #themenu{

                        display: block;
                        position: fixed;
                        background: $bg_skincolor;
                        right: -100vw;
                        top: 0;
                        width: 70vw;
                        height: 100vh;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        font-size: 1.3rem;
                        padding-bottom: 2rem;
                        
                        -webkit-box-shadow: -1px 2px 9px 3px rgba(0,0,0,0.31);
                        -moz-box-shadow: -1px 2px 9px 3px rgba(0,0,0,0.31);
                        box-shadow: -1px 2px 9px 3px rgba(0,0,0,0.31);

                        transition: right 0.2s;

                        a {
                            border: none;
                            margin: 0;
                            padding: 0;
                            border-bottom: 2px solid white;
                            // margin-block: 0.5rem;
                            margin-right: $small_padding;
                            padding-top: 0.5rem;
                            padding-bottom: 0.5rem;
                            color: white;
                        }

                        #servicedropdown{
                            
                            position: initial;
                            display: initial;
                            text-align: right;

                            #servicebutton{
                                border-left: none;
                                border-bottom: 2px solid white;
                                padding-bottom: 0.5rem;
                                display: inline-block;
                            }

                            #dropdowncontent{
                                display: block;
                                position: initial;
                                background: unset;
                                min-width: unset;
                                box-shadow: unset;
                                padding: 1;
                                padding-right: 2rem;
                            }

                        }

                        :first-child {
                            border-bottom: none;
                            padding-bottom: 1rem;
                        }

                        :last-child {
                            border-bottom: none;
                        }
                    }

                    #hamburger{
                        display: initial;
                        border-left: none;
                        font-size: 1.5rem;
                    }

                    #closemenu{
                        display: initial;
                    }

                    #themenu:target{
                        right: 0;
                    }

                }

            }


            @media screen and (max-width: 500px) {

                #contactrow{
                    #searchbox{
                        display: none;
                    }
                }

            }


        }




        #footer{

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            

            width: 100%;
            padding-left: $padding;
            padding-bottom: 2rem;
            background-color: $bg_skincolor;

            .footersection{

                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h4{
                    font-weight: bold;
                    font-size: 1.8rem;
                    margin-bottom: 0;
                    padding-bottom: 1rem;
                    font-family: AttenNew;
                    color: $primaryred;
                }

                a{
                    text-decoration: none;
                    color: black;
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                    font-family: 'OpenDyslexic', sans-serif;
                    transition: color 0.5s;
                }

                a:hover{
                    color: $primaryred;
                    transition: color 0.1s;
                }

            }

            #footercontacts{
                a {
                    $vertical_button_padding: 1rem;
                    $horizontal_button_padding: 1rem;

                    border: 2px solid $primaryred;
                    border-radius: 0.5rem;

                    padding-top: $vertical_button_padding;
                    padding-bottom: $horizontal_button_padding;
                    padding-left: $horizontal_button_padding;
                    padding-right: $horizontal_button_padding;

                    color: $primaryred;
                    font-weight: bold;
                    transition: background 0.5s, color 0.15s;
                }

                a:hover{
                    background: $primaryred;
                    color: white;
                }
            }

            

            // #rainbowbg{
            //     grid-row: 1/3;
            //     grid-column: 1/2;
            //     background-image: url(/static/img/skeleton/rect_rainbow_footer_right.png);
            //     background-size: contain;
            //     background-position: right;
            //     background-repeat: no-repeat;
            // }

            // #footerlogo{
            //     grid-row: 1/3;
            //     grid-column: 1/2;
            //     place-self: center end;
            //     object-fit: contain;
            //     height: 100%;
            // }


            // #toplinks{
            //     grid-row: 1/2;
            //     grid-column: 1/2;
            //     place-self: end start;
            //     margin-left: $padding;

            //     a{
            //         padding-left: 12px;
            //         padding-right: 12px;
            //         border-right: 2px solid black;
            //     }

            //     :first-child{
            //         padding-left: 0;
            //     }

            //     :last-child{
            //         border-right: none;
            //     }
            // }

            // #bottomlinks{
            //     grid-row: 2/3;
            //     grid-column: 1/2;
            //     place-self: start start;
            //     font-size: 1rem;
            //     margin-left: $padding;
            //     margin-top: 0.5rem;

            //     a{
            //         padding-left: 12px;
            //         padding-right: 12px;
            //         border-right: 2px solid black;
            //     }

            //     :first-child{
            //         padding-left: 0;
            //     }

            //     :last-child{
            //         border-right: none;
            //     }

            // }



            @media screen and (max-width: 1250px) {
                
                display: flex;
                flex-wrap: wrap;
                padding-left: $small_padding;
                
                .footersection{
                    margin-right: 2rem;
                }
                

                // a {
                //     border: none;
                // }

                // #toplinks, #bottomlinks {
                //     display: flex;
                //     flex-direction: column;
                //     margin-left: $small_padding;

                //     a {
                //         margin: 0;
                //         padding: 0;
                //         border: none;
                //     }
                // }

                // #toplinks {
                //     a {
                //         margin-bottom: 0.5rem;
                //     }
                // }

                // #bottomlinks{
                //     margin-top: 2rem;
                // }

                // #rainbowbg{
                //     grid-row: 2/3;
                //     background-position: bottom right;
                // }

                // #footerlogo {
                //     grid-row: 1/2;
                //     object-fit: contain;
                //     place-self: start end;
                //     height: 40%;
                //     margin-right: $small_padding;
                //     display: none;
                // }

            }





        }

    }

}