@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@font-face {
  font-family: AttenNew;
  src: url("/static/fonts/AttenNewRegular.otf") format("opentype");
}
@font-face {
  font-family: AttenNew;
  font-weight: bold;
  src: url("/static/fonts/AttenNewExtraBold.otf") format("opentype");
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
body .mytooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}
body #wrapper #topheader {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 80px;
  grid-template-areas: "t" "b";
}
body #wrapper #topheader a {
  text-decoration: none;
  color: #E65359;
  font-weight: bold;
}
body #wrapper #topheader #sitelogo {
  grid-area: t;
  place-self: start start;
  margin-left: 3rem;
  z-index: 5;
  -webkit-box-shadow: 6px 7px 5px -5px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 6px 7px 5px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 6px 7px 5px -5px rgba(0, 0, 0, 0.27);
}
body #wrapper #topheader #contactrow {
  margin-right: 3rem;
  grid-area: t;
  display: flex;
  align-items: center;
  justify-items: center;
  place-self: center end;
}
body #wrapper #topheader #contactrow * {
  margin-left: 5px;
}
body #wrapper #topheader #contactrow a {
  max-height: 100%;
  display: grid;
}
body #wrapper #topheader #contactrow a img {
  place-self: center center;
  max-height: 100%;
  width: 30px;
}
body #wrapper #topheader #contactrow a .phoneicon {
  display: none;
}
body #wrapper #topheader #contactrow #searchbox input {
  border: 2px solid #E65359;
  height: 30px;
  padding-left: 10px;
}
body #wrapper #topheader #menuitems {
  grid-area: b;
  z-index: 3;
  place-self: center end;
  margin-right: 3rem;
}
body #wrapper #topheader #menuitems #hamburger {
  display: none;
}
body #wrapper #topheader #menuitems #closemenu {
  display: none;
}
body #wrapper #topheader #menuitems a {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-left: 2px solid #E65359;
}
body #wrapper #topheader #menuitems :first-child {
  border-left: none;
}
body #wrapper #topheader #menuitems :last-child {
  padding-right: 0;
}
body #wrapper #topheader #rainbowdiv {
  grid-area: b;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url(/static/img/skeleton/rainbow_rect_header.png);
  background-repeat: no-repeat;
  background-size: contain;
}
body #wrapper #topheader #colordiv {
  grid-area: b;
  width: 100%;
  height: 100%;
  background: #F9ADAD;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  body #wrapper #topheader #sitelogo {
    margin-left: 0;
    height: 160px;
  }
}
@media screen and (max-width: 1300px) {
  body #wrapper #topheader {
    grid-template-rows: 50px 50px;
  }
  body #wrapper #topheader #contactrow {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  body #wrapper #topheader #contactrow .site-logo {
    font-size: 2rem;
  }
  body #wrapper #topheader #contactrow a .textnumber {
    display: none;
  }
  body #wrapper #topheader #contactrow a .phoneicon {
    display: block;
  }
  body #wrapper #topheader #menuitems {
    margin-right: 1rem;
    font-size: 1rem;
  }
  body #wrapper #topheader #menuitems a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media screen and (max-width: 790px) {
  body #wrapper #topheader #sitelogo {
    height: 160px;
  }
  body #wrapper #topheader #menuitems #themenu {
    display: block;
    position: fixed;
    background: #F9ADAD;
    right: -100vw;
    top: 0;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.3rem;
    padding-bottom: 2rem;
    -webkit-box-shadow: -1px 2px 9px 3px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: -1px 2px 9px 3px rgba(0, 0, 0, 0.31);
    box-shadow: -1px 2px 9px 3px rgba(0, 0, 0, 0.31);
    transition: right 0.2s;
  }
  body #wrapper #topheader #menuitems #themenu a {
    border: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid white;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
  }
  body #wrapper #topheader #menuitems #themenu :first-child {
    border-bottom: none;
    padding-bottom: 1rem;
  }
  body #wrapper #topheader #menuitems #themenu :last-child {
    border-bottom: none;
  }
  body #wrapper #topheader #menuitems #hamburger {
    display: initial;
    border-left: none;
    font-size: 1.5rem;
  }
  body #wrapper #topheader #menuitems #closemenu {
    display: initial;
  }
  body #wrapper #topheader #menuitems #themenu:target {
    right: 0;
  }
}
@media screen and (max-width: 500px) {
  body #wrapper #topheader #contactrow #searchbox {
    display: none;
  }
}
body #wrapper #footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding-left: 3rem;
  padding-bottom: 2rem;
  background-color: #F9ADAD;
}
body #wrapper #footer .footersection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body #wrapper #footer .footersection h4 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
  font-family: AttenNew;
  color: #E65359;
}
body #wrapper #footer .footersection a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-family: AttenNew;
  transition: color 0.5s;
}
body #wrapper #footer .footersection a:hover {
  color: #E65359;
  transition: color 0.1s;
}
body #wrapper #footer #footercontacts a {
  border: 2px solid #E65359;
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #E65359;
  font-weight: bold;
  transition: background 0.5s, color 0.15s;
}
body #wrapper #footer #footercontacts a:hover {
  background: #E65359;
  color: white;
}
@media screen and (max-width: 1250px) {
  body #wrapper #footer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
  }
  body #wrapper #footer .footersection {
    margin-right: 2rem;
  }
}

/*# sourceMappingURL=skeleton.css.map */
