{% extends 'skeleton.html' %}
{% load static %}
{% block title %}About Another Light Counselling{% endblock %}
{% block metadescription %}Another Light founded by expert psychologist Aanchal Narang offers mental health and
counselling services by junior and senior mental health counsellors.{% endblock %}
{% block metakeywords %}Aanchal Narang, Psychiatrist, Another Light Counselling, Counselling{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="canonical" href="https://www.another-light.com/about" />
<!-- Global site tag (gtag.js) - Google Ads: 10878605404 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10878605404"></script>
<script async>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-10878605404');
    if (window.location.href.includes('about/another-light')) {
        // window.location.href = 'https://www.another-light.com/about/'
    }
</script>
{% endblock %}

{% block body %}
<div id="content">

    <div id="topsection">
        <img src="{% static 'img/about/top_people.svg' %}" id="toppeople"
            alt="Mental Health & Counselling Services by Expert Counsellors"  />
    </div>


    <div id="aboutcard">
        {{ cardcontent.content | safe }}
    </div>


    <div id="peoplesection">

        {% for member in members %}

        <div class="person {{ member.layout_position }}">
            <div class=" info">
                <h1>{{ member.name }}</h1>
                <h2>{{ member.designation }}</h2>
                <div class="memberinfo" id="{{ member.id }}" data-state="collapsed">
                    {{ member.tippy_info | safe }}
                </div>
                <a onclick="toggleInfo(this)" data-id="{{ member.id }}">READ MORE</a>
            </div>
            <img src="{{ member.thumbnail.url }}" class="person-picture" alt="{{ member.img_alt }}" />
        </div>

        {% endfor %}

    </div>

    <script src="{% static 'js/about.js' %}"></script>
</div>
{% endblock %}