{% extends 'skeleton.html' %}
{% load static %}
{% block title %}{{ doifeel.meta_title }}{% endblock %}
{% block metakeywords %}{{doifeel.meta_keywords}}{% endblock %}

{% block ogtitle %}{{doifeel.meta_title}}{% endblock %}
{% block tctitle %}{{doifeel.meta_title}}{% endblock %}

{% block metadescription %}{{doifeel.meta_description}}{% endblock %}
{% block ogdescription %}{{doifeel.meta_description}}{% endblock %}
{% block tcdescription %}{{doifeel.meta_description}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<!-- Global site tag (gtag.js) - Google Ads: 10878605404 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10878605404"></script>
<script async>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-10878605404');
</script>
{% endblock %}

{% block body %}
<div id="content">
    <div id="topsection">
        <img      
        src="{{ doifeel.image_file.url }}"
        id="topgraphic" alt="Mental Healing & Psychological Counselling" />
    </div>


    <div id="doifeel-section">

        <h1>{{doifeel.title}}</h1>
        <div class="doifeel">
            {{ doifeel.content | safe }}
        </div>

    </div>



</div>
{% endblock %}