{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Another Light{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
<div id="content">
    
    <div id="topsection">

        <img src="{% static 'img/index/gals.svg' %}" id="topgals" />

        <div id="heytherebox">
            <p>
                Hey,<br>Fellow<br>Human!
            </p>
        </div>

        <div id="readingthis">
            <p>
                If you’re reading this, you’ve landed on Another Light’s website. A safe space where you can freely express your feeling, ask any questions you need to, and face no judgment whatsoever!
            </p>
        </div>

    </div>


    <div id="scarysection">
        <div id="leftelipse"></div>
        <div id="rightelipse"></div>
        <div id="content">
            <h1>Hey, asking for help can be scary. And we get it.</h1>
            <p>
                At Another Light, you can find a friendly face and an ear that’s willing to listen. Whether you’re looking for a quick resolution, or are interested in long-term solutions, you will find someone who will work with you at your speed and convenience. The therapy sessions cater to anybody who is brave enough to walk through our doors.
            </p>
            <p>
                There are no questions we won’t hear out, nothing that classifies as ‘too much information’ and there are no wrong answers when you’re at our center. Because no matter who you are, what you’ve done (yes, we help everybody) or what you’re facing, when you’re at Another Light, you are cared for.
            </p>
        </div>
    </div>


    <div id="providesection">

        <a href="#" id="chaticon"><img src="{% static 'img/index/chat_icon.png' %}" /></a>

        <h2>Another Light</h2>
        <div id="p">
            <p>
                ...provides cost-effective mental healthcare to those in need of it. Specializing in care for everything from depression and anxiety to struggles with addiction, gender and sexuality and working on Trauma symptoms and trauma, we co-chart the path towards healing and walk down it with you.
            </p>
        </div>        

        <img src="{% static 'img/index/rainbow_gal_last_section.png' %}" id="rainbowgal">

        <a id="readmore" href="#">READ MORE</a>

    </div>

</div>
{% endblock %}