{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You</title>

  <script src="https://kit.fontawesome.com/d8749e6d0b.js" crossorigin="anonymous"></script>

  <link href="{% static 'css/pct_thankyou.css' %}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Ads: 10878605404 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10878605404"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-10878605404');
  </script>

  <!-- Event snippet for Submit lead form conversion page -->
  <script>
    gtag('event', 'conversion', { 'send_to': 'AW-10878605404/MbpNCI6QjLMDENywqcMo' });
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163396537-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-163396537-1');
  </script>

</head>

<body>
  <!-- <a href="{% url 'psychological-counselling-therapy' %}">Go Back</a> -->

  <body>

    <div class="section1">

      <img class="logo" src="{% static 'img/pct/logo.png' %}" alt="">

      <h3> Thank You!</h3>

      <p>We have received your details. <br> Our team will get back to you soon. <br>


        You may visit our website <br><a href="https://www.another-light.com/">https://www.another-light.com/</a> <br>
        to get
        details of our services.
      </p>

    </div>

    </div>
  </body>

</html>
</body>

</html>