{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Another light - LGBTQ Mental issues and wellness blog{% endblock %}
{% block metadescription %}LGBTQ Mental health tips & articles from Another light.Read our blog and do
share.{%endblock%}
{% block metakeywords %}LGBTQ Mental health tips{% endblock %}

{% block head %}
<link rel="canonical" href="https://www.another-light.com{% url 'blog' page_obj.number %}" />
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
<!-- Global site tag (gtag.js) - Google Ads: 10878605404 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10878605404"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-10878605404');
</script>
{% endblock %}

{% block body %}
<div id="content">

    <div id="topsection">
        <img src="{% static 'img/resources/graphic.svg' %}" id="topgraphic" />
    </div>



    <div id="resources-section">

        <div id="topstuff">
            <h2>Blog</h2>
            <img src="{% static 'img/faqs/chat_icon.png' %}">
        </div>

        <div id="resource-list">

            {% if postscount == 0 %}
            <h3>There are no posts yet!</h3>
            {% endif %}


            {% for post in posts %}

            <a class="resource" href="{% url 'post' post.slug %}">
                <img src="{{ post.image_file.url }}" class="thumbnail" alt="">
                <!-- <img src="{% static 'img/resources/play_button.png' %}" class="playbutton" alt=""> -->
                <h3>{{ post.title }}</h3>
                <p><small><em>{{post.created}}</em></small></p>
            </a>

            {% endfor %}
        </div>

        <!-- PAGINATION -->
        {% if postscount > 0 %}
        <div id="pagination">
            {% if page_obj.has_previous %}
            <div id="newer" class="pagination-item">
                <a href="{% url 'blog' page_obj.previous_page_number %}"><i class="fas fa-arrow-left"></i> newer</a>
            </div>
            {% endif %}

            {% if postscount > 10 %}
            <div id="current-page" class="pagination-item">
                Page {{ page_obj.number }}
            </div>
            {% endif %}

            {% if page_obj.has_next %}
            <div id="older" class="pagination-item">
                <a href="{% url 'blog' page_obj.next_page_number %}">older <i class="fas fa-arrow-right"></i></a>
            </div>
            {% endif %}
        </div>
        {% endif %}

    </div>




</div>
{% endblock %}