{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Blog - Another Light{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block body %}
<div id="content">
    
    <div id="topsection">
        <img src="{% static 'img/resources/graphic.svg' %}" id="topgraphic" />
    </div>



    <div id="resources-section">

        <div id="topstuff">
            <h2>Blog</h2>
            <img src="{% static 'img/faqs/chat_icon.png' %}">
        </div>

        <div id="resource-list">
            {% for post in posts %}

            <a class="resource" href="{% url 'post' post.slug %}">
                <img src="{{ post.image_file.url }}" class="thumbnail" alt="">
                <!-- <img src="{% static 'img/resources/play_button.png' %}" class="playbutton" alt=""> -->
                <h3>{{ post.title }}</h3>
                <p><small><em>{{post.created}}</em></small></p>
            </a>

            {% endfor %}
        </div>

        <!-- PAGINATION -->
        <div id="pagination">
            {% if page_obj.has_previous %}
                <div id="newer" class="pagination-item">
                    <a href="{% url 'blog' page_obj.previous_page_number %}"><i class="fas fa-arrow-left"></i> newer</a>
                </div>
            {% endif %}
            
            <div id="current-page" class="pagination-item">
                Page {{ page_obj.number }}
            </div>            
            
            {% if page_obj.has_next %}
                <div id="older" class="pagination-item">
                    <a href="{% url 'blog' page_obj.next_page_number %}">older <i class="fas fa-arrow-right"></i></a>
                </div>
            {% endif %}
        </div>

    </div>


    

</div>
{% endblock %}