{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Resources - Another Light{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block body %}
<div id="content">
    
    <div id="topsection">
        <img src="{% static 'img/resources/graphic.svg' %}" id="topgraphic" />
    </div>



    <div id="resources-section">

        <div id="topstuff">
            <h2>Blog</h2>
            <img src="{% static 'img/faqs/chat_icon.png' %}">
        </div>

        <div id="resource-list">
            {% for post in posts %}

            <a class="resource" href="{% url 'post' post.slug %}">
                <img src="{{ post.image_file.url }}" class="thumbnail" alt="">
                <!-- <img src="{% static 'img/resources/play_button.png' %}" class="playbutton" alt=""> -->
                <h3>{{ post.title }}</h3>
            </a>

            {% endfor %}
        </div>

        

    </div>

</div>
{% endblock %}