{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Psychological Counselling Therapy</title>

  <link href="{% static 'css/pct.css' %}" rel="stylesheet">

</head>
<body>
  <div class="section1">
    
    <div class="headings">
      <h1>Counselling & Therapy by Expert Psychologists in India</h1>
      <h2>Get best psychological counselling and therapy by junior and senior psychologists.</h2>
    </div>

    <div class="query">
      <form>
        <h3>Send your Query</h3>
        <input type="text" placeholder="Name" />
        <input type="text" placeholder="Email" />
        <input type="text" placeholder="Contact Number" />
      </form>
    </div>

  </div>
  <div class="section2">
    <h1>Woo</h1>
  </div>
  <div class="section3">
    <h1>Nice</h1>
  </div>
</body>
</html>