{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Psychological Counselling Therapy</title>

  <!-- <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'css/all.css' %}" rel="stylesheet"> -->

  <script src="https://kit.fontawesome.com/d8749e6d0b.js" crossorigin="anonymous"></script>

  <link href="{% static 'css/pct.css' %}" rel="stylesheet">

  <!-- FAVICON -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

</head>
<body>


  <div id="promptoverlay">

    <div id="dialoguebox">
        <p>
            Thank you for reaching out to us!<br />
            We will contact you shortly!
        </p>
        <p>
            <a href="#">OK</a>
        </p>
    </div>

</div>




  <div class="section1">

    <img class="logo" src="{% static 'img/pct/logo.png' %}" alt="">

    <a class="whatsapp" href="https://wa.me/{{whatsappnum.value}}">
      <button>WHATSAPP <i class="fab fa-whatsapp"></i></button>
    </a>
    
    <div class="headings">
      <h1>Counselling & Therapy by Expert Psychologists in India</h1>
      <h2>Get best psychological counselling and therapy by junior and senior psychologists.</h2>
    </div>

    <div class="query">
      <form method="POST" action="">
        {% csrf_token %}
        <h3>Send your Query</h3>
        <p>
          {{ form.non_field_errors }}
        </p>
        
        {{ form.name.errors }}
        {{ form.name }}

        {{ form.email.errors }}
        {{ form.email }}

        {{ form.contact.errors }}
        {{ form.contact }}
        
        <button type="submit">SUBMIT</button>
      </form>
    </div>

  </div>
  <div class="section2">
    
    <div class="preview">
      <p>
        <b>Another Light Counselling (ALC)</b> provides cost-effective mental healthcare to those in need of it. Specialized in care for trauma, addictions, non-normative genders and violence faced by marginalised individuals & communities, we believe in informed and participative healing. Since its inception in 2019, ALC has served over 800 clients.
      </p>
    </div>

    <div class="services">

      <b>Our Services:</b>
      <ul>
        <li>Anxiety Therapy</li>
        <li>Depression Counselling</li>
        <li>LGBTQ Therapy & Counselling</li>
        <li>Queer Afﬁrmative Therapy</li>
        <li>Kink Afﬁrmative Therapy</li>
        <li>Counselling & Therapy for Addictions</li>
        <li>Trauma Therapy & Counselling</li>
      </ul>
      <a class="reachbutton" href="#">
        <button>REACH US NOW</button>
      </a>
    </div>

  </div>
  <div class="section3">
    
    <img class="art" src="{% static 'img/pct/fixhead.svg' %}">

    <h3>Why Another Light?</h3>

    <ul>
      <li>
        Unique & Effective Services by expert Psychologists in India
      </li>
      <li>Affordable & Reliable Services</li>
      <li>A safe place where one can freely express his/her feelings</li>
      <li>Quick & long-term solutions</li>
      <li>Utmost conﬁdentiality</li>
    </ul>

    <a class="appointment" href="#">
      <button>BOOK AN APPOINTMENT</button>
    </a>

  </div>
</body>
</html>