{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Resources - Another Light{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/resources.css' %}">
{% endblock %}

{% block body %}
<div id="content">
    
    <div id="topsection">
        <img src="{% static 'img/resources/graphic.svg' %}" id="topgraphic" />
    </div>



    <div id="resources-section">

        <div id="topstuff">
            <h2>Got a question? Ask away!</h2>
            <img src="{% static 'img/faqs/chat_icon.png' %}">
        </div>

        <div id="resource-list">
            {% for i in '123456789' %}

            <a class="resource" href="#">
                <img src="{% static 'img/resources/aanchaltemp.jpg' %}" class="thumbnail" alt="">
                <img src="{% static 'img/resources/play_button.png' %}" class="playbutton" alt="">
                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa hic repellat quidem!</h3>
            </a>

            {% endfor %}
        </div>

        

    </div>

</div>
{% endblock %}