{% extends 'skeleton.html' %}
{% load static %}
{% block title %}{{ service.meta_title }}{% endblock %}
{% block metakeywords %}{{service.meta_keywords}}{% endblock %}

{% block ogtitle %}{{service.meta_title}}{% endblock %}
{% block tctitle %}{{service.meta_title}}{% endblock %}

{% block metadescription %}{{service.meta_description}}{% endblock %}
{% block ogdescription %}{{service.meta_description}}{% endblock %}
{% block tcdescription %}{{service.meta_description}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<!-- Global site tag (gtag.js) - Google Ads: 10878605404 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10878605404"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-10878605404');
</script>
{% endblock %}

{% block body %}
<div id="content">

    <div id="topsection">
        <img src="{% static 'img/services/header.svg' %}" id="topgraphic"
            alt="Mental Healing & Psychological Counselling" />
    </div>


    <div id="service-section">

        <h1>{{service.title}}</h1>
        <div class="service">
            {{ service.content | safe }}
        </div>

    </div>



</div>
{% endblock %}