{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Services - Another Light{% endblock %}
{% block metakeywords %}Aanchal Narang, Psychiatrist, Another Light Counselling, Counselling{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block body %}
<div id="content">

    <div id="topsection">
        <img src="{% static 'img/services/header.svg' %}" id="topgraphic" />
    </div>


    <div id="service-section">

        <h2>{{service.title}}</h2>
        <div class="service">
            {{ service.content | safe }}
        </div>

    </div>

    

</div>
{% endblock %}