{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Services - Another Light{% endblock %}
{% block metakeywords %}Aanchal Narang, Psychiatrist, Another Light Counselling, Counselling{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<link rel="canonical" href="https://www.another-light.com/services/" />
<!-- Global site tag (gtag.js) - Google Ads: 10878605404 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10878605404"></script>
<script async>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-10878605404');
</script>
{% endblock %}

{% block body %}
<div id="content">

    <div id="topsection">
        <img src="{% static 'img/services/header.svg' %}" id="topgraphic" />
    </div>


    <div id="service-section">

        <h2>Services</h2>
        {% for service in services %}
        <div class="service">
            <h3>{{service.title}}</h3>
            {{ service.content | safe }}
        </div>
        {% endfor %}


    </div>



</div>
{% endblock %}