{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block metadescription %}{% endblock %}"/>

        {% comment %} OPENGRAPH META TAGS {% endcomment %}
        <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
        <meta property="og:description" content="{% block ogdescription %}{% endblock %}"/>
        <meta property="og:url" content="{% block ogurl %}{% endblock %}" />
        <meta property="og:image" content="{% block ogimage %}{% endblock %}" />
        <meta property="og:type" content="{% block ogtype %}{% endblock %}" />


        <!-- TWITTER CARD META TAGS -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@_abdullahalam_" />
        <meta name="twitter:title" content="{% block tctitle %}{% endblock %}"/>
        <meta name="twitter:description" content="{% block tcdescription %}{% endblock %}"/>
        <meta name="twitter:image" content="{% block tcimage %}{% endblock %}"/>

        <!-- FONTAWESOME -->
        <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>
        

        {% block head %}{% endblock %}
    </head>
    <body>

        <div id="wrapper">
            
            <!-- HEADER -->
            <div id="topheader">

                

                
                <img id="sitelogo" src="{% static 'img/skeleton/sitelogo.png' %}" />
                

                <div id="contactrow">
                    <a href="https://instagram.com/aanchal_therapist" target="_blank"><i class="fab fa-instagram site-logo"></i></a>
                    <a href="https://twitter.com/aanchal_therapy" target="_blank"><i class="fab fa-twitter site-logo"></i></a>
                    <a href="https://wa.me/+919819615204"><i class="fab fa-whatsapp site-logo"></i></a>
                    <a href="tel:+919819615204" target="_blank"><span class="textnumber site-logo" >+91 98196 15204</span><i class="fas fa-phone phoneicon site-logo" ></i></a>
                    <!-- <div id="searchbox">
                        <input type="text" placeholder="SEARCH" />
                    </div>                     -->
                </div>

                

                

                
                <div id="menuitems">
                    <div id="themenu">
                        <a href="#" id="closemenu"><i class="fas fa-times"></i></a>
                        <a href="{% url 'index' %}">Home</a>
                        <a href="{% url 'about' %}">About</a>
                        <a href="{% url 'faqs' %}">FAQs</a>
                        <a href="{% url 'resources' %}">Resources</a>
                        <a href="{% url 'reviews' %}">Reviews</a>
                        <a href="{% url 'contact' %}">Contact</a>
                    </div>                    
                    <a href="#themenu" id="hamburger"><i class="fas fa-bars"></i></a>
                </div>
                <div id="rainbowdiv">
                    <!-- THIS WILL HAVE RAINBOW BG IN CSS -->
                </div>
                <div id="colordiv">
                    <!-- THIS WILL GIVE THE MENU A BG IN CSS -->
                </div>



                

            </div>

            {% block body %}{% endblock %}


            <!-- FOOTER -->
            <div id="footer">

                <div id="rainbowbg">
                    <!-- THIS WILL HAVE THE RAINBOW BG -->
                </div>

                <div id="toplinks">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'faqs' %}">FAQs</a>
                    <a href="{% url 'resources' %}">Resources</a>
                    <a href="{% url 'reviews' %}">Reviews</a>
                    <a href="{% url 'contact' %}">Contact</a>
                </div>

                <div id="bottomlinks">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use & Disclaimer</a>
                </div>

                <img id="footerlogo" src="{% static 'img/skeleton/footerlogo.png' %}"
                

            </div>


        </div>

        <!-- TOOLTIPS -->
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <script src="{% static 'js/tooltips.js' %}"></script>

    </body>
</html>
