<!-- 
<a href="#">Privacy Policy</a>
<a href="#">Terms of Use & Disclaimer</a> 
-->

<!-- Global site tag (gtag.js) - Google Ads: 10878605404 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10878605404"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-10878605404');
</script>

{% if page_obj.has_next %}
<div id="current-page" class="pagination-item">
    page {{ page_obj.number }}
</div>
{% endif %}